name: tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  pytest:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_USER: spacex
          POSTGRES_PASSWORD: spacex
          POSTGRES_DB: spacex
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U spacex -d spacex"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      DATABASE_URL: postgresql+psycopg2://spacex:spacex@localhost:5432/spacex
      PYTHONPATH: .


    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install pytest


      - name: Wait for Postgres
        run: |
          for i in {1..30}; do
            pg_isready -h localhost -p 5432 -U spacex -d spacex && break
            sleep 1
          done


      - name: Run tests
        run: |
          pytest -q
